<p id="notice"><%= notice %></p>

<h1>Weathers</h1>

<table>
  <thead>
    <tr>
      <th>Station</th>
      <th>Score</th>
      <th>Description</th>
      <th>Updated at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @weathers.each do |weather| %>
      <tr>
        <td><%= weather.station %></td>
        <td><%= weather.score %></td>
        <td><%= weather.description %></td>
        <td><%= weather.updated_at %></td>
        <td><%= link_to 'Show', weather %></td>
        <td><%= link_to 'Edit', edit_weather_path(weather) %></td>
        <td><%= link_to 'Destroy', weather, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Weather', new_weather_path %>
