<!DOCTYPE html>
<html>
  <head>
    <title>STATION</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style='padding-top:0px;margin-top:0px;'>
    <h1 style="margin-top:0.67em;padding-top:0px;background-color:#770000;color:#fff;">STATION</h1>
    <%= yield %>
  </body>
</html>
