<p id="notice"><%= notice %></p>

<h1>Pals</h1>

<table>
  <thead>
    <tr>
      <th>Status</th>
      <th>Location</th>
      <th>Lat</th>
      <th>Long</th>
      <th>Payload</th>
      <th>Flightplan</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pals.each do |pal| %>
      <tr>
        <td><%= pal.status %></td>
        <td><%= pal.location %></td>
        <td><%= pal.lat %></td>
        <td><%= pal.long %></td>
        <td><%= pal.payload %></td>
        <td><%= pal.flightplan %></td>
        <td><%= link_to 'Show', pal %></td>
        <td><%= link_to 'Edit', edit_pal_path(pal) %></td>
        <td><%= link_to 'Destroy', pal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pal', new_pal_path %>
