<p id="notice"><%= notice %></p>

<h1>Flightplans</h1>

<table>
  <thead>
    <tr>
      <th>Updated at</th>
      <th>Updated by</th>
      <th>Updated by me</th>
      <th>Waypoint count</th>
      <th>Last waypoint</th>
      <th>Step waypoint</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @flightplans.each do |flightplan| %>
      <tr>
        <td><%= flightplan.updated_at %></td>
        <td><%= flightplan.updated_by %></td>
        <td><%= flightplan.updated_by_me %></td>
        <td><%= flightplan.waypoint_count %></td>
        <td><%= flightplan.last_waypoint %></td>
        <td><%= flightplan.step_waypoint %></td>
        <td><%= link_to 'Show', flightplan %></td>
        <td><%= link_to 'Edit', edit_flightplan_path(flightplan) %></td>
        <td><%= link_to 'Destroy', flightplan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Flightplan', new_flightplan_path %>
